* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    font-family: sans-serif;
    max-width: 100vw;
    min-height: 100vh;
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 10%, rgba(235, 235, 235, 1) 20%, rgba(225, 225, 225, 1) 30%, rgba(212, 212, 212, 1) 40%, rgba(200, 200, 200, 1) 50%, rgba(186, 186, 186, 1) 60%, rgba(175, 175, 175, 1) 70%, rgba(163, 163, 163, 1) 80%, rgba(157, 157, 157, 1) 90%, rgba(148, 148, 148, 1) 100%); */
}

.App .navbar {
    width: 100vw;
    min-height: 10vh;
    display: flex;
    align-items: center;
    color: #fff;
    background: rgba(29, 161, 242, 1);
    font-size: larger;
    flex-direction: row;
    justify-content: center;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 99;
}

.App .navbar .logo {
    font-size: 3vh;
}

.searchbar{
    width: 100%;
}

.searchcontainer {
    width: 40vw;
    margin-left: 30vw;
    
}

label {
    margin-top: 8px;
    margin-right: 5px;
}

.App .navbar .hamburger {
    position: fixed;
    left: 2vw;
    top: 1.5vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

.App .navbar .nav-links {
    width: 40vw;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.App .navbar .nav-links>a {
    color: #fff;
    text-decoration: none;
}

.popular {
    display: block;
    text-align: center;
    justify-content: center;
    margin: 20px 30% 0 30%;
}
.container {
    display: block;
    text-align: center;
    justify-content: center;
    margin: 20px 30% 0 30%;
}

h1 {
    margin: 10px;
    text-align: center;
    font-size: 60px;
}

@media (max-width: 960px) {
    .App .navbar .navlinks {
        display: none;
    }
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    color: rgb(29, 161, 242);
}

.hamburger:hover {
    background-color: rgb(30, 144, 214);
}

input {
    width: 40vw;
    padding: 5px;
}

.home {
    color: rgb(29, 161, 242);
    text-align: center;
    margin: 10px;
}

a {
    color: rgb(29, 161, 242);
}

.home>.homeLinks {
    color: rgb(29, 161, 242);
}

.home>h3 {
    margin: 15px;
}

.home>h4 {
    margin: 20px;
}

a:hover {
    color: rgb(29, 101, 182);
}

#con {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2vw;
}



.MuiTable-root {
    border-collapse: collapse;
    color: rgba(255, 255, 255, 0.808);
    /* width: 70vw; */
}

.MuiTable-data {
    text-align: center;
}




/* .skele {
    width: 100%;
    margin-top: 5vw;
    align-items: center;
} */

.overview{
    text-align: center;
    width: 70%;
    max-width: 800px;

}


#test{
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
}

#testcon{
    position: relative;
    left: 350px;
    bottom: 450px;
}

#testoverview{
width: 400px;
}

#testtable{
    width: 300px;
    position: absolute;
    top:347px;
}

#testskele{
    width: 90%;
    margin-left: 5%;
}

#testright{
    position: relative;
    left: 350px;
    bottom: 450px;
}

.posterLink:hover{
    scale: 1.2;
    opacity: 100%;
}

.posterLinks>.posterLink:not(:hover){
    opacity: 50%;
}



.posterLinks, .skele{
    width: 70vw;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}



.posterLink, .skeleChild{
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}

.posterLink>p{
    width: 250px;
}
